<div data-role="header">
    <a href="#" class="back-button non-metro" data-role="button" data-icon="back">Back</a>
    <h1>Settings</h1>
    <a href="#" class="settings-save non-metro" data-role="button" data-icon="check">Ok</a>
</div>
<div data-role="content">
    <h3>About TinyTodo</h3>
    <img src="content/clock.png" />
    <p>TinySheets v1.0</p>
    <p>The portable way to track your important tasks using HTML5, CSS and Javascript.</p>

    <div data-role="fieldcontain">
        <label for="serverUrl">If you have a TinyTodo server installation you can provide the url to sync to:</label>
        <input type="text" name="serverUrl" id="task-title" placeholder="TinyTodo server url" />
    </div>
</div>
<div data-role="footer" data-id="footerNav" data-position="fixed" class="metro-only ui-bar" >  
    <a href="#" class="back-button" data-role="button" data-icon="arrow-l" data-inline="true">Back</a>
    <a href="#" class="settings-save" data-role="button" data-icon="check" data-inline="true">Save</a>
</div>
