<div data-role="header">
    <a href="#" class="back-button non-metro" data-role="button" data-icon="back">Back</a>
    <h1>Settings</h1>
</div>
<div data-role="content">
    <h3>About TinyTodo</h3>
    <img src="content/clock.png" />
    <p>TinyTodo v1.0</p>
    <p>The portable way to track your important tasks using HTML5, CSS and Javascript.</p>

</div>
<div data-role="footer" data-id="footerNav" data-position="fixed" class="metro-only ui-bar" >  
    <a href="#" class="back-button" data-role="button" data-icon="arrow-l" data-inline="true">Back</a>
</div>
