<div data-role="header">
    <a href="#" class="task-cancel non-metro" data-role="button" data-icon="delete">Cancel</a>
    <h1>Details</h1>
    <a href="#" class="task-save non-metro" data-role="button" data-icon="check">Save</a>
</div>
<div data-role="content">
    <div data-role="fieldcontain">
        <label for="name">Title:</label>
        <input type="text" name="title" id="task-title" placeholder="Name of the task" />
    </div>
</div>
<div data-role="footer" data-id="footerNav" data-position="fixed" class="metro-only ui-bar">
    <a href="#" class="task-cancel" data-role="button" data-icon="delete" data-inline="true">Cancel</a>
    <a href="#" class="task-save" data-role="button" data-icon="check" data-inline="true">Save</a>
</div>
